{
  "env": {
    "test": {
      "presets": ["@ava/stage-4"]
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.10.0"
        },
        "modules": false
      }
    ]
  ]
}
